body {
    padding-top: 50px;
}

.custom-navbar {
    /* background-color: #FFF000; */
    background-color: #31c224;
}

#background-image {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 96vh;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

#image-1 {
    position: absolute;
    width: 100%;
    height: 200px;
    background-image: url(../images/ecommerce2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 800px 200px;
    top: 50px;
    left: 25px;
}

#image-2 {
    position: absolute;
    width: 100%;
    height: 375px;
    background-image: url(../images/ecommerce.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 480px 375px;
    top: 60%;
    left: 25px;
}

#images {
    width: auto;
    height: 200px;
}

#footer {
    margin-top: 50px;
    background-color: #800000;
    color: #FFFFFF;
}